@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins:wght@200;400;500;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #201e1e;
    color: #e7e4e4;
}

h1 {
    color: #b383e2;
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
    text-decoration: underline;
    text-decoration-color: #b383e2;
    text-decoration-thickness: 5px;
}

form {
    border-radius: 5px;
    /* flex-direction: column; */
    box-shadow: 0 1px 5px #858282;

    background-color: #343333;
    max-width: 100%;
    width: 400px;
}

ul {
    padding: 0;
}

.input {
    display: flex;
    text-align: center;
    background-color: #474646;
    border: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    color: #e7e4e4;
    outline: none;
}

.input::placeholder {
    text-align: center;
}

.input:focus {
    outline: 2px solid #b383e2;
}
.todos li {
    list-style-type: none;
    padding-bottom: 15px;
    font-size: 1.4rem;
    border-top: 1px solid rgb(71, 70, 70);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    align-items: center;
}
.todo-item {
    margin: 20px 20px 0px 20px;
}

.todo-trash {
    margin: 20px 20px 20px 0px;
}

li:last-child {
    padding-bottom: 40px;
}

li.todo-completed {
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-color: #b383e2;
    text-decoration-thickness: 2px;
}

small {
    color: #b5b5b5;
    margin-top: 2rem;
    text-align: center;
    font-size: 15px;
}
